.txt-beige {
  color: #F3EDD3;
}

.txt-bold {
  font-weight: bold;
}

.txt-18 {
  font-size: 18px;
}

.txt-14 {
  font-size: 14px;
}

.txt-24 {
  font-size: 24px;
}

.top-menu {
  width: 5vw;
  height: 80%;
  background-color: #F3EDD3;
  border: 3px solid #1D3254;
  margin-right: 1vw;
  padding-top: 1vh;
  text-align: center;
  font-size: 16px;
}

.top-menu-on {
  width: 5vw;
  height: 100%;
  background-color: #FA5D4C;
  border: 3px solid #1D3254;
  margin-right: 1vw;
  padding-top: 1vh;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #F3EDD3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1D3254;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-image: url(../image/bg-grid.svg);
  background-size: 30px 30px;
}
#root #bg-paper {
  width: 80vw;
  height: 90vh;
  background-color: #fff;
  border-width: 3px 3px 0 3px;
  border-color: #1D3254;
  border-style: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
#root #bg-paper > header {
  width: 80vw;
  height: 20vh;
  margin-top: 2vw;
}
#root #bg-paper > header > div:first-child {
  width: 80vw;
  height: 2vh;
  padding: 0 2vw 0 2vw;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
#root #bg-paper > header > div:last-child {
  width: 80vw;
  height: 18vh;
  border-width: 3px 0 3px 0;
  border-color: #1D3254;
  border-style: solid;
  display: flex;
}
#root #bg-paper > header > div:last-child > div:nth-child(1) {
  width: 17vw;
  padding: 1vh 2vw 1vh 2vw;
  display: flex;
  flex-direction: column;
}
#root #bg-paper > header > div:last-child > div:nth-child(1) > p:nth-child(1) {
  font-size: 14px;
}
#root #bg-paper > header > div:last-child > div:nth-child(1) > p:nth-child(2) {
  font-size: 31px;
  font-weight: bold;
}
#root #bg-paper > header > div:last-child > div:nth-child(1) > button:nth-child(3) {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  margin-top: 4vh;
  border: 1px solid #1D3254;
  box-shadow: 1px 1px 0 #1D3254;
  background-image: url(../image/button-home-off.svg);
  background-repeat: no-repeat;
}
#root #bg-paper > header > div:last-child > div:nth-child(2) {
  width: 46vw;
  border-width: 0 2px 0 2px;
  border-color: #1D3254;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #bg-paper > header > div:last-child > div:nth-child(2) > img {
  width: 17vh;
  height: 15vh;
}
#root #bg-paper > header > div:last-child > div:nth-child(3) {
  width: 17vw;
  padding: 1vh 2vw 1vh 2vw;
}
#root #bg-paper > header > div:last-child > div:nth-child(3) > div:nth-child(1) {
  width: 13vw;
  height: 8vh;
  background-image: url(../image/barcode.svg);
  background-repeat: repeat-x;
  background-size: cover;
}
#root #bg-paper > header > div:last-child > div:nth-child(3) > div:nth-child(2) {
  width: 13vw;
  height: 50px;
  margin-top: 2vh;
  display: flex;
  justify-content: flex-end;
}
#root #bg-paper > header > div:last-child > div:nth-child(3) > div:nth-child(2) > button {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 1px solid #1D3254;
  box-shadow: 1px 1px 0 #1D3254;
  margin-left: 1vh;
}
#root #bg-paper > header > div:last-child > div:nth-child(3) > div:nth-child(2) > button:nth-child(1) {
  background-image: url(../image/button-personal-off-01.svg);
}
#root #bg-paper > header > div:last-child > div:nth-child(3) > div:nth-child(2) > button:nth-child(2) {
  background-image: url(../image/button-personal-off-02.svg);
}
#root #bg-paper > header > div:last-child > div:nth-child(3) > div:nth-child(2) > button:nth-child(3) {
  background-image: url(../image/button-personal-off-03.svg);
}
#root #bg-paper > main {
  width: 80vw;
  height: 58vh;
  margin-top: 2vh;
  display: flex;
}
#root #bg-paper > main > aside {
  width: 17vw;
  height: 58vh;
  position: relative;
}
#root #bg-paper > main > aside > div:nth-child(1) {
  width: 17vw;
  height: 70px;
  margin-left: 1vw;
  padding-left: 1vw;
  background-image: url(../image/bg-sub-title.svg);
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 0;
}
#root #bg-paper > main > aside > div:nth-child(2) {
  width: 15vw;
  height: 33vh;
  padding: 2vh 0 2vh 2vw;
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 3vh;
  position: absolute;
  top: 8vh;
}
#root #bg-paper > main > aside > div:nth-child(3) {
  width: 17vw;
  height: initial;
  padding: 2vh 2vw 0 2vw;
  position: absolute;
  bottom: 0;
}
#root #bg-paper > main > aside > div:nth-child(3) > p:nth-child(1) {
  font-size: 12px;
  text-align: justify;
}
#root #bg-paper > main > aside > div:nth-child(3) > p:nth-child(1) > span {
  font-weight: bold;
}
#root #bg-paper > main > aside > div:nth-child(3) > div:nth-child(2) {
  margin-top: 1vh;
  width: 13vw;
  height: 8vh;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #1D3254;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root #bg-paper > main > aside > div:nth-child(3) > div:nth-child(2) > p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
#root #bg-paper > main > aside > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
  width: 35px;
  height: 35px;
  background-image: url(../image/button-link-off.svg);
  background-repeat: no-repeat;
}
#root #bg-paper > main > article {
  width: 61vw;
  height: 58vh;
  border: 1px solid #1D3254;
  background-image: url(../image/project-01-mockup-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
#root #bg-category {
  width: initial;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 0;
  top: 4vh;
  left: 12vw;
}/*# sourceMappingURL=02-project-01-main.css.map */