// 책장 배경
.book-stand {
  width: 350px; height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../image/bg-bookstand.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}


// 책 크기
.books {
  width: 130px; height: 150px;
  background-color: #fff;
  border: 2px solid $color-black;
  border-radius: 5px;
  margin-bottom: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
}

.books-on {
  width: 130px; height: 150px;
  background-color: $color-black;
  border: 2px solid $color-black;
  border-radius: 5px;
  box-shadow: 4px 4px 0 $color-red-light;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.1s;
}

// 왼쪽 책에만 들어갈 여백
.margin-r-20 {
  margin-right: 20px;
}

// 책 썸네일
.book-thum {
  width: 38vh; height: 50vh;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid $color-black;
  border-radius: 1vh;
  box-shadow: 6px 6px 0 $color-red-light;
  position: absolute;
  z-index: 4;
  top: 24vh;
}

// 자기소개 팝업
.ajin-resume {
  width: 80vh; height: 55vh;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top center;
  position: absolute;
  z-index: 4;
  top: 20vh;
}

.btn-close-off {
  width: 50px; height: 50px;
  border-radius: 25px;
  border: 2px solid $color-black;
  box-shadow: 1px 1px 0 $color-black;
  background-image: url(../image/button-close-off.svg);
  position: absolute;
  z-index: 4;
  top: 17vh;
}

.btn-close-ajin {
  width: 50px; height: 50px;
  border-radius: 25px;
  border: 2px solid $color-black;
  box-shadow: 1px 1px 0 $color-black;
  background-image: url(../image/button-close-off.svg);
  position: absolute;
  z-index: 4;
  top: 13vh;
}

.bg-blur {
  width: 100vw; height: 100vh;
  background-color: $color-beige-op;
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 2;
}

.bg-grid {
  width: 100vw; height: 5vh;
  background-image: url(../image/bg-grid.svg);
  background-size: 30px 30px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}