@import "./color.scss";
@import "./text.scss";
@import "./mixin.scss";
@import "./root.scss";

* { margin: 0; padding: 0; box-sizing: border-box; font-family: $font-noto-en; }


#root {
  @include root;


  & > #front-box {
    @include flex(center, center, column);
    @include size-wh(60vw, 84vh);
    background-color: #fff;
    border: 5px solid $color-black;
    @include position-ab(10vh, 0, 0, 20vw);
    z-index: 3;


    & > div {
      @include size-wh(90%, 90%);

      & > div {
        @include size-wh(100%, 4%);
        @include flex (space-between, flex-end, row);

        & > span {
          font-size: $font-size-12;
          margin-bottom: 3px;
          color: $color-red;
        }

      }
  
      & > header {
        @include size-wh(100%, 25%);
        border-width: 3px 0 3px 0;
        border-style: solid;
        border-color: $color-red;
        @include flex (space-between, '', row);


        & > div:nth-child(1) {
          @include size-wh(20%, 100%);
          @include flex(center, center, row);

          & > img {
            height: 70%;
          }
        }
        
        & > div:nth-child(2) {
          width: 60%;
          border-width: 0 1px 0 1px;
          border-style: solid;
          border-color: $color-red;
          position: relative;
          @include flex(center, center, row);
          
          & > img {
            height: 65%;
            position: absolute;
            z-index: 1;
          }
          
          & > p {
            font-size: $font-size-10;
            position: absolute;
            z-index: 0;
            bottom: 3vh;
            font-family: $font-noto-ko;
            color: $color-red;
          }
        }
        
        & > div:nth-child(3) {
          @include size-wh(20%, 100%);
          @include flex(center, center, column);
          
          & > img {
            @include size-wh(70%, 50%);
          }
          
          & > div {
            @include size-wh(70%, 20%);
            @include flex(end, end, row);
            
            & > button {
              @include button-small;
              color: #fff;
            }

            & > button:hover {
              @include button-small-on;
              color: $color-green;
            }
          }
        }
      }
  
      & > article {
        @include size-wh(100%, 65%);
        border: 1px solid $color-red;
        margin-top: 1vh;
        display: flex;

        & > div:first-child {
          @include size-wh(64%, 100%);
          background-color: $color-yellow;
          @include flex(center, center, row);

          & > img {
            @include size-wh(96%, 94%);
            background-color: #fff;
            border: 2px solid $color-red;
          }
        }

        & > div:last-child {
          @include size-wh(36%, 100%);
          border-left: 1px solid $color-red;

          & > div {
            @include size-wh(100%, calc(100%/3));
          }

          & > div:first-child {
            background-color: $color-red;
            @include flex(space-between, flex-end, row);
            
            & > div:first-child {
              @include size-wh(60%, 70%);
              margin: 0 0 2vh 2vw;
              color: #fff;

              & > p:first-child {
                @include main-menu($font-size-16, 300, '', '');
              }

              & > p:nth-child(2) {
                @include main-menu($font-size-24, bold, 24px, 0 0 1vh 0);
              }

              & > p:last-child {
                @include main-menu($font-size-14, 400, 21px, '');
                font-family: $font-noto-ko;
              }
            }

            & > button:last-child {
              @include button-mid-on;
            }
          }

          & > div:nth-child(2) {
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: $color-red;
            color: $color-red;
            @include flex(space-between, flex-end, row);
            
            & > div:first-child {
              // margin-left: 1vw;
              margin: 0 0 2vh 2vw;
              width: 60%; height: 70%;

              & > p:first-child {
                @include main-menu($font-size-16, 300, '', '');
              }

              & > p:nth-child(2) {
                @include main-menu($font-size-24, bold, 24px, 0 0 1vh 0);
              }

              & > p:last-child {
                @include main-menu($font-size-14, 400, 21px, '');
                font-family: $font-noto-ko;
              }
            }

            & > button:last-child {
              @include button-mid-off;
            }
            
          }

          & > div:last-child {
            color: $color-red;
            @include flex(space-between, flex-end, row);
            
            & > div:first-child {
              // margin-left: 1vw;
              margin: 0 0 2vh 2vw;
              width: 60%; height: 70%;

              & > p:first-child {
                @include main-menu($font-size-16, 300, '', '');

              }

              & > p:nth-child(2) {
                @include main-menu($font-size-24, bold, 24px, 0 0 1vh 0);
              }

              & > p:last-child {
                @include main-menu($font-size-14, 400, 21px, '');
                font-family: $font-noto-ko;
              }
            }

            & > button:last-child {
              @include button-mid-off;
            }
          }
        }
      }
    }
  }

  & > #resume-box {
    @include size-wh (40vw, 70vh);
    background-color: $color-yellow;
    border: 5px solid $color-red;
    transform: rotate(-5deg);
    transition: 0.5s;
    @include position-ab(8vh, 0, 0, 35vw);
    z-index: 2;
  }

  & > #resume-box:hover {
    top: 3vh;
    transform: rotate(0deg);
    border-color: $color-black;
    background-color: #fff;
  }

  & > #sticker-1 {
    @include size-wh(200px, 200px);
    border-radius: 100px;
    border: 2px solid $color-black;
    background-color: #fff;
    position: absolute;
    top: 8vh;
    left: 12vw;
    z-index: 4;
  }

  & > #sticker-2 {
    @include size-wh(200px, 200px);
    border-radius: 100px;
    border: 2px solid $color-black;
    background-color: #fff;
    position: absolute;
    bottom: 8vh;
    right: 12vw;
    z-index: 4;
  }

  & > #sticker-3 {
    @include size-wh(200px, 200px);
    border-radius: 100px;
    border: 2px solid $color-black;
    background-color: #fff;
    position: absolute;
    bottom: 20vh;
    right: 15vw;
    z-index: 4;
  }

  & > #back-box {
    @include size-wh (60vw, 85vh);
    background-color: $color-yellow;
    border: 5px solid $color-red;
    @include position-ab(9vh, 0, 0, 21vw);
    z-index: 1;
  }

}