@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #507763;
  background-image: url(../img/bg-grid.svg);
  display: flex;
}
#root > #front-box {
  width: 70vw;
  height: 90vh;
  background-color: #fff;
  border: solid #1B2124;
  border-width: 0 5px 5px 5px;
  position: absolute;
  z-index: 1;
  top: 0vh;
  left: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root > #front-box > div {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root > #front-box > div > div {
  margin-top: 7vh;
  width: 100%;
  height: 7%;
}
#root > #front-box > div > div > img {
  height: 5vh;
}
#root > #front-box > div > header {
  width: 100%;
  height: 13%;
  border-width: 3px 0 3px 0;
  border-style: solid;
  border-color: #C9241E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#root > #front-box > div > header > div:first-child {
  width: 26%;
  height: 100%;
  color: #C9241E;
}
#root > #front-box > div > header > div:first-child > p:first-child {
  margin: 1vh 1vw 0 1vw;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}
#root > #front-box > div > header > div:first-child > p:last-child {
  margin: 0 1vw 0 1vw;
  font-size: 24px;
  font-weight: bold;
}
#root > #front-box > div > header > div:nth-child(2) {
  width: 64%;
  height: 100%;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #C9241E;
  color: #C9241E;
}
#root > #front-box > div > header > div:nth-child(2) > p {
  margin: 1vh 1vw 0 1vw;
  font-size: 14px;
  line-height: 21px;
  font-weight: 0;
}
#root > #front-box > div > header > div:last-child {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: row;
}
#root > #front-box > div > header > div:last-child > button {
  width: 40px;
  height: 40px;
  margin: 0 1vw 1vh 1vw;
  border-radius: 20px;
  border-style: none;
  background-color: #507763;
}
#root > #front-box > div > article {
  width: 97%;
  height: 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#root > #front-box > div > article > div {
  height: 94%;
}
#root > #front-box > div > article > div:first-child {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#root > #front-box > div > article > div:first-child > div:first-child {
  width: 100%;
  height: 80%;
  border: 1px solid #C9241E;
}
#root > #front-box > div > article > div:first-child > button:last-child {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border: 3px solid #C9241E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "";
}
#root > #front-box > div > article > div:first-child > button:last-child > p {
  width: 96%;
  height: 90%;
  border: 1px solid red;
  font-size: 24px;
  font-weight: bold;
  color: #C9241E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "";
}
#root > #front-box > div > article > div:last-child {
  width: 73%;
  border: 1px solid #C9241E;
}
#root > #front-box > div > footer {
  width: 100%;
  height: 4%;
  border-top: 3px solid #C9241E;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
}
#root > #front-box > div > footer > span {
  margin-top: 3px;
  font-size: 12px;
  color: #C9241E;
}
#root > #back-box {
  width: 70vw;
  height: 90vh;
  background-color: #F7F6AF;
  border: solid #C9241E;
  border-width: 0 5px 5px 5px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 16vw;
}/*# sourceMappingURL=project-style.css.map */