@import "./colors.scss";
@import "./class-book-stand.scss";

* { margin: 0; padding: 0; box-sizing: border-box; }

#root {
  width: 100vw; height: 100vh;
  background-color: $color-beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;


// * ------ 로고 ------ *
  & > header {
    width: 19vh; height: 15vh;
    background-image: url(../image/logo-big.svg);
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: 10vh; 
    position: relative;
    z-index: 1;
  }

// * ------ 책장 ------ *
  & > main {
    width: 350px; height: 420px;
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

// * ------ 버튼 ------ *
  & > footer {
    width: 15vw; height: 8vh;
    margin-top: 11vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    & > div {
      width: 100%; height: initial;
      display: flex;
      justify-content: center;

      & > button {
        width: 5vh; height: 5vh;
        border-radius: 3vh;
        box-shadow: 1px 1px 0 $color-black;
        border: 2px solid $color-black;
        background-repeat: no-repeat;
      }
  
      & > button:nth-child(1) {
        background-image: url(../image/button-personal-off-01.svg);
        margin-right: 1vw;
      }
      & > button:nth-child(2) {
        background-image: url(../image/button-personal-off-02.svg);
      }
    }

    & > p {
      font-size: 14px;
    }
  }

// * ------ 배경 ------ *
  & > div:nth-child(4) {
    width: 100vw; height: 100vh;
    position: absolute;
    z-index: 0;

    // 창문
    & > div:nth-child(1) {
      width: 34vw; height: 38vh;
      background-image: url(../image/bg-windows.svg);
      background-repeat: no-repeat;
      background-position: top left;
      position: absolute;
      left: 5vw;
      top: 10vh;
      z-index: 1;
    }
    // 책상
    & > div:nth-child(2) {
      width: 26vw; height: 48vh;
      background-image: url(../image/bg-desk.svg);
      background-repeat: no-repeat;
      background-position: bottom right;
      position: absolute;
      right: 5vw;
      bottom: 0vh;
      z-index: 1;
    }
    // 바닥
    & > div:nth-child(3) {
      width: 100vw; height: 13vh;
      background: $color-red-beige;
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
  }
}