$color-red: #FA5D4C;
$color-red-light: #FFBFAD;
$color-beige: #F3EDD3;
$color-black: #1D3254;
$color-red-beige: linear-gradient($color-red-light, $color-beige);
$color-beige-op: rgba(243, 237, 211, 0.7);
