* { margin:0; padding:0; box-sizing: border-box; }
    #root {
      width: 100vw; height: 100vh;
      background-color: #ccc;
      position: relative;
      overflow: hidden;
    }

    #books {
      width: 20vw; height: 20vw;
      background-color: #fff;;
    }

    .bg-blur {
      width: 100vw; height: 100vh;
      background-color: rgba(211, 212, 255, 0.76);
      position: absolute;
      top: 0;
      z-index: 1;
    }

    .magazin {
      width: 40vw; height: 40vh;
      background-color: sandybrown;
      position: fixed;
      top: 30vh;
      left: 30vw;
      z-index: 3;
    }

    .grid {
      width: 100vw; height: 100vh;
      background-color: seagreen;
      position: absolute;
      top: 100vh;
      z-index: 2;
    }